<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="CSS/Site.css">
<div class = "top-header">
            <div class = "logo">
                {{!-- Placeholder image to go back HOME --}}
                <a href="/"><img src="../Photos/Logo.png" id = "logo"></a>
            </div>
           
                <div class="input-group">
                    {{!-- <input type="" class="form-control" placeholder="WELCOME TO TM MARKET!" name="search" id = "search"> --}}
                    {{!-- <h3>WELCOME TO TM MARKET!</h3> --}}
                    {{!-- <div class="input-group-btn">
                        <button type="button" class="btn btn-outline-dark" onclick="search();">Search</button>
                    </div> --}}
                </div>

            <div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Account
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="login">Log Out</a></li>
                      <li><a href="userprofile">View Profile</a></li>
                      <li><a href="Cart">Check Cart</a></li>
                    </ul>
                  </div>
            </div>
            
        </div>