<link rel="stylesheet" href="CSS/Site.css">
<div class = "top-header">
            <div class = "logo">
                {{!-- Placeholder image to go back HOME --}}
                <a href="index"><img src="../Photos/Logo.png" id = "logo"></a>
            </div>
           
                <div class="input-group">
                    <button href="/index" type="button" class="btn btn-secondary" id = "home-button" >Home</button>
                    <input type="text" class="form-control" placeholder="Search for products and brands" name="search" id = "search">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-outline-dark" onclick="search();">Search</button>
                    </div>
                </div>
                
        
            <div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Account
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="login">Log Out</a></li>
                      <li><a href="User">View Profile</a></li>
                      <li><a href="Cart">Check Cart</a></li>
                    </ul>
                  </div>
            </div>
        </div>