<!DOCTYPE html>
<html lang="en">
<head>
    <title>Site</title>
    <!-- Latest compiled and minified CSS -->

<link href="https://fonts.googleapis.com/css2?family=KoHo&display=swap" rel="stylesheet">    
</head>
<body>
    <div class = "main-page">
        
        {{{ body }}}
    </div>
    
</body>
</html>