<link rel="stylesheet" href="CSS/Site.css">

{{> header }}

<div class = "bottom-header" id = "bottom-header">
            <h1>Latest Products</h1>
        </div>
<div class="site-body">
            
            <div class = "items" id = "FlyBy">
                <img src="../Photos/Nike-FlyBy-Mid-2090.jpg" name = "Nike-FlyBy-Mid-2090" onclick="redirect(this.name);">
                <p class = "productname"> <a href="./Product1.html">Nike Fly.By Mid</a> </p>
                <p class = "price">₱2090</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        
            <div class = "items" id ="Downshifter">
                <img src="../Photos/Nike-Downshifter-2090.jpg" name = "Nike-Downshifter-2090" onclick="redirect(this.name);">
                <p class = "productname"><a href="./Product2.html">Nike Downshifter</a></p>
                <p class = "price">₱2090</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </div>

            <div class = "items" id ="iPhone">
                <img src="../Photos/Iphone12pro.png" name = "Iphone12pro" onclick="redirect(this.name);">
                <p class = "productname"><a href="./Product3.html">iPhone 12 Pro</a></p>
                <p class = "price">₱79999</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>

            <div class = "items" id ="Galaxy">
                <img src="../Photos/GalaxyS21.jpg" name = "GalaxyS21" onclick="redirect(this.name);">
                <p class = "productname"><a href="./Product4.html">Galaxy S21 5G</a></p>
                <p class = "price">₱43999</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            
            <div class = "items" id ="Uniqlo">
                <img src="../Photos/UniqloMickey.jpg" name = "UniqloMickey" onclick="redirect(this.name);">
                <p class = "productname"><a href="./Product5.html">Uniqlo (UT) M.July Printed T-Shirt (Short Sleeve) Mickey Mouse</a></p>
                <p class = "price">₱699</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            
            <br>
            
        </div>
        <script src = "JS/Site.js"></script>