<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=KoHo&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="CSS/Site.css">

{{> header }}

<div class = "bottom-header" id = "bottom-header">
    <h1>Latest Products</h1>
    </div>
    <div class="site-body">
        {{#each products}}
            {{> productCard }}
        {{/each}}
    </div>
</div>
<script src = "JS/Site.js"></script>