<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=KoHo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/Login.css">
    <title>Login Page</title>
</head>
<body>
    <div class = "space"></div>
    <div class = "welc">
        <h1 id="Welcome"><br>WELCOME <br><br> {{name}}</h1>
        <div class = "space"></div>
        <p> <a href="/index">CONTINUE</a></p>
    </div>
    <script src = "../JS/Login.js"></script>
</body>
</html>