body{
    padding: 0;
    margin: 0;
    background-color: rgba(238, 237, 236, 0.966);
    font-family: "KoHo";
}

.main-page{
    display: flex;
    flex-direction: column;
}

.top-header{
    padding:0;
    margin: auto;
    background-color: rgb(24, 161, 70);
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#logo{
    height: 100px;
    width: 100px;
}

.input-group{
    margin: 10px;
    align-items: center;
}

#home-button{
    margin: 5px;
}

.dropdown{
    /* margin-left: 10%;
    margin-right: 10%;
    margin-top: 40%; */
    margin: 10px;
    width: 100%;
}

.bottom-header{
    margin-left: 100px;
}

img{
    height: 150px;
    width: 150px;
}

.items{
    border: 1px solid;
    flex: 1;
    border-color: rgb(190, 245, 245);
    padding: 20px;
    background-color: rgb(255, 253, 253);
    text-align: center;
    margin: 10px;
}

.checked{
    color: orange;
}

.items:hover{
    border: 1px solid;
    border-color: rgb(162, 255, 0);
    
    /* opacity: .65; */
}

.site-body{
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.site-body > *{
    flex: 0 1 20%;
    
}
